$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
);



$principal: #22c9fb;
$secundario: #d3fffa;
$tercero: #ff7f52;
$gris-oscuro: #707070;
$gris-medio: #9ca1a7;
$gris-claro: #e5e3e3;
$blanco: white;
$negro: black;
$naranja-claro: #E68D10;
$primary: $principal;
$warning: $tercero;
