<template>
  <div class="container-fluid ubicacion">
    <v-divider class="mx-15" />
    <h1 class="tittle text-left ml-15">
      Nuestra ubicación
    </h1>
    <div>
      <iframe
        id="ubicacion"
        allowfullscreen="false"
        aria-hidden="false"
        frameborder="0"
        height="450"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d885.1302601307187!2d-58.98490522595421!3d-27.453033732334106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf3dcd9cc09%3A0x59c4e4cae8240bd0!2sAv.%209%20de%20Julio%20210%2C%20H3500ARQ%20Resistencia%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1612565007333!5m2!1ses-419!2sar"
        width="100%" />
    </div>
  </div>
</template>

<style  scoped>

  #ubicacion {
    filter: grayscale();
    margin-top: 3rem;
    margin-bottom: -7px;
  }
   .ubicacion {
     margin-top: 35px;
     width: 100% !important;

 }
</style>
